@model ConnectElectronics.Models.Porosi

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-left:150px">
<h3>The order was successful</h3>
<h4>Thank You!</h4>
    <h4>To see the details of the order, click the button below</h4>

<a class="btn btn-primary float-center" asp-action="Detaje" asp-route-id="@Model.Id">Details</a>
 </div>
