@model ConnectElectronics.Models.EditRole

<form method="post" class="mt-3" asp-action="Edit" asp-controller="Role" asp-route-Id="@Model.Id">

     <label asp-for="Name" class="col-sm-2 col-form-label" style="margin-left:100px;margin-top:30px;"></label>
    <div class="form-group row">
       
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10" style="margin-left:250px;">
            <button type="submit" class="btn btn-primary" style="background-color:#D10024">Save</button>
            <a asp-action="Index" class="btn btn-primary" style="background-color:#D10024">Cancel</a>
        </div>
    </div>
    </form>

