@model IEnumerable<Kategori>

<select id="selectKategori"class="input-select">
    <option class="list-group-item">
        <p>
        <a class="nav-link text-dark" asp-controller="Produkt" asp-action="Index" asp-route-kategori="">Te Gjitha</a>
        @*<a class="nav-link text-dark" asp-controller="Produkt" asp-action="Index" asp-route-Sorting="Cmimi">Nga Cmimi me i madh</a>*@
        </p>
    </option>

    @foreach (var item in Model)
    {
        <option class="list-group-item">
            <p class="nav-link text-dark" asp-controller="Produkt" asp-action="Index" asp-route-emri="@item.Emri">@item.Emri</p>
        </option>
    }
   
</select>